Source: logilab-devtools
Section: python
Priority: optional
Maintainer: Logilab S.A. <contact@logilab.fr>
Uploaders: Adrien Di Mascio <adrien.dimascio@logilab.fr>,
           Sylvain Thenault <sylvain.thenault@logilab.fr>,
           David Douard <david.douard@logilab.fr>,
           Julien Cristau <jcristau@debian.org>
Standards-Version: 3.9.6
Build-Depends:
 debhelper (>= 9),
 python-all (>= 2.6.5),
 python-setuptools,
 dh-python,
X-Python-Version: >= 2.6
Homepage: http://www.logilab.org/project/logilab-devtools
Vcs-hg: http://hg.logilab.org/logilab/devtools
Vcs-Browser: http://hg.logilab.org/logilab/devtools

Package: python-logilab-devtools
Architecture: all
Suggests:
  zsh,
Recommends:
  mercurial (>= 2.8.0),
Depends:
  ${misc:Depends},
  ${python:Depends},
  python-cwclientlib (>= 0.3.0),
Description: set of development tools used at Logilab
 Set of tools which aims to help the development process, including:
  * tools to run unit tests in parallel
  * tools to ease the merge of branches in a guestrepo shell
  * tools to help working with multiple guestrepo shells

Package: logilab-elisp
Architecture: all
Depends: ${misc:Depends}, emacsen-common
Conflicts: devtools
Replaces: devtools
Description: emacs lisp code for logilab development tools
 Set of elisp goodies including :
  * an emacs mode for pycover files
  * an emacs mode for ChangeLog files
  * a small set of emacs shortcuts used at logilab

Package: mercurial-jpl
Architecture: all
Depends:
  ${misc:Depends},
  ${python:Depends},
  mercurial (>= 3.0.0),
  python-cwclientlib (>= 0.3.0),
Suggests:
  python-lxml,
  python-jenkins,
  python-requests-kerberos,
Description: mercurial extensions to ease interaction with JPL-based forges
 This includes:
  * mercurial command to ask review for a changeset
  * mercurial command to list review feedback on a changeset
  * mercurial revset functions
